loads/src/main/resources/xsd/specimen_definition.xsd

<?xml version="1.0"?>
<!--

    Copyright (C) 2013 Julian Atienza Herrero <j.atienza at har.mrc.ac.uk>

    MEDICAL RESEARCH COUNCIL UK MRC

    Harwell Mammalian Genetics Unit

    http://www.har.mrc.ac.uk

    Licensed under the Apache License, Version 2.0 (the "License"); you may not
    use this file except in compliance with the License. You may obtain a copy of
    the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
    License for the specific language governing permissions and limitations under
    the License.

-->
<xs:schema xmlns="http://www.mousephenotype.org/dcc/exportlibrary/datastructure/core/specimen"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:pc="http://www.mousephenotype.org/dcc/exportlibrary/datastructure/core/common"
           targetNamespace="http://www.mousephenotype.org/dcc/exportlibrary/datastructure/core/specimen"
           elementFormDefault="qualified">
    <xs:import namespace="http://www.mousephenotype.org/dcc/exportlibrary/datastructure/core/common"  schemaLocation="common.xsd"/>

    <xs:element name="centreSpecimenSet">
    <xs:complexType>
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This is the main container for the specimen data. The xml document can contain specimens from multiple centres.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="centre" type="CentreSpecimen"/>
        </xs:sequence>
    </xs:complexType>
    </xs:element>

    <xs:complexType name="CentreSpecimen">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                A Centre submits at least one specimen.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="mouse"     type="Mouse"/>
            <xs:element name="embryo"    type="Embryo"/>
        </xs:choice>
        <xs:attribute name="centreID" type="pc:CentreILARcode" use="required"/>
    </xs:complexType>

    <xs:complexType name="Specimen" abstract="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                A specimen can be either an embryo or a mouse. Specimen holds all the common attributes to both.
                Attributes
                colonyID	          : the imits colony-name of this phenotyping attempt.
                isBaseline            : true if this specimen is a baseline animal and not an induced mutant. If true strainID (attribute) or parental strain (subelement) must be present.
                                        If not colonyID must be present. ColonyID comes from the imits field Phenotype Colony Name
                                        If isBaseline == true,  the specimen is either a derived from baseline colony breeding or is a wildtype child of a het-het mating.
                                        If isBaseline == false, this specimen is a part of the knockout mutant line under investigation.
                strainID              : MGI identifier of the background strain if available. Otherwise it will be checked by data wrangler. It should like MGI:1914249.
                                        You can find the complete list of MGIIDSs at ftp.informatics.jax.org/pub/reports/MGI_Strain.rpt or under exportlibrary.xmlvalidationresources database.
                specimenID            : centre's internal identifier for the specimen.
                gender	              : male,female, intersex or no-data. Defined in http://www.mousephenotype.org/dcc/exportlibrary/datastructure/core/common
                zygosity	          : wild type, homozygous, heterozygous, hemizygous. http://www.mousephenotype.org/dcc/exportlibrary/datastructure/core/common
                litterId	          : unique identifier for the litter of the specimen in this centre.
                pipeline	          : IMPReSS identifier of the pipeline. The current valid pipelines are (as in IMPReSS ): IMPC_001, ESLIM_001, ESLIM_002, GMC_001, M-G-P_001

                productionCentre      : ILAR code of the production centre. Defined in http://www.mousephenotype.org/dcc/exportlibrary/datastructure/core/common
                phenotypingCentre     : ILAR code of the phenotyping centre. Defined in http://www.mousephenotype.org/dcc/exportlibrary/datastructure/core/common
                project	              : project name. Example projects are BaSH, MRC, DTCC.
            </xs:documentation>
        </xs:annotation>

        <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="relatedSpecimen"       type="RelatedSpecimen"        minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="genotype"              type="Genotype"               minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="chromosomalAlteration" type="ChromosomalAlteration"  minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="parentalStrain"        type="ParentalStrain"         minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="statusCode"            type="pc:StatusCode"          minOccurs="0" maxOccurs="1"/>
        </xs:sequence>

        <xs:attribute name="colonyID"              type="xs:string"         use="optional"/>
        <xs:attribute name="isBaseline"            type="xs:boolean"        use="required" />
        <xs:attribute name="strainID"              type="xs:string"         use="optional" />
        <xs:attribute name="specimenID"            type="xs:string"         use="required"/>
        <xs:attribute name="gender"                type="pc:Gender"         use="required"/>
        <xs:attribute name="zygosity"              type="pc:Zygosity"       use="required"/>
        <xs:attribute name="litterId"              type="xs:string"         use="required"/>

        <xs:attribute name="pipeline"              type="xs:string"         use="required"/>
        <xs:attribute name="productionCentre"      type="pc:CentreILARcode" use="optional"/>
        <xs:attribute name="phenotypingCentre"     type="pc:CentreILARcode" use="required"/>
        <xs:attribute name="project"               type="xs:string"         use="required"/>
    </xs:complexType>

    <xs:complexType name="Genotype">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This type should not be used if the specimen is derived from a line in imits.
                This type is only to capture more complex genomic alterations that are not handled elsewhere.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="MGIGeneId"             type="xs:string"         use="required"/>
        <xs:attribute name="geneSymbol"            type="xs:string"         use="required"/>
        <xs:attribute name="MGIAlleleId"           type="xs:string"         use="required"/>
        <xs:attribute name="fatherZygosity"        type="pc:Zygosity"       use="optional"/>
        <xs:attribute name="motherZygosity"        type="pc:Zygosity"       use="optional"/>
    </xs:complexType>



    <xs:complexType name="ChromosomalAlteration">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This type is to reflect the addition or removal of a large chromosomal segment that cannot be defined by a gene identifier.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1" >
            <xs:element name="chromosomeAdded"   type="Chromosome" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="chromosomeRemoved" type="Chromosome" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Chromosome">
        <xs:annotation>
            <xs:documentation xml:lang="en">
            The specific chromosomal segment that has been added or removed. Start and end are positions.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="start"   type="xs:string"      use="required"/>
        <xs:attribute name="end"     type="xs:string"      use="required"/>
        <xs:attribute name="species" type="xs:string"      use="optional"/>
    </xs:complexType>

    <xs:complexType name="ParentalStrain">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This type should not be used if the specimen is derived from a defined baseline strain, not being in ftp.informatics.jax.org/pub/reports/MGI_Strain.rpt.
                It allows the specification of multiple contributing strains as well as the gender and ancentroral level where the contribution is.
                Only the ancestors that are pure-bred strains are reported under this type.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="percentage"    type="xs:double"        use="required"/>
        <xs:attribute name="MGIStrainID"   type="xs:string"        use="required"/>
        <xs:attribute name="gender"        type="pc:StrictGender"  use="required"/>
        <xs:attribute name="level"         type="xs:int"           use="required"/>
    </xs:complexType>


    <xs:complexType name="RelatedSpecimen">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This allows multiple forms of relationship to be specified. The two principle types of relationships are:
                (1) parentage: the identifier of the father, mother(s) are provided. This will allow the data to be analysed to see if the
                    parental effect affects the results.
                (2) control-relationship: if two specimens are related as either true-litter-mates or derived from similar breedings eg. wild type and homozygous mutants derived from het-het matings
                    then this relationship is specified using the appropiate value for relationship. This will allow the data to be analyzed properly.

                    The relationship possible values are defined below.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="specimenID"   type="xs:string"    use="required"/>
        <xs:attribute name="relationship" type="Relationship" use="required"/>
    </xs:complexType>

    <xs:simpleType name="Relationship">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mother"/>
            <xs:enumeration value="father"/>
            <xs:enumeration value="littermate"/>
            <xs:enumeration value="from_similar_breeding"/>
            <xs:enumeration value="from_stock_breeding"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Mouse">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Date Of Birth following the pattern yyyy-MM-dd eg. 2012-12-31
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Specimen">
                <xs:attribute  name="DOB" type="xs:date" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Embryo">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                stage at which this embryo was sacrified.
                Can be either number of days after copulation or Theiler stage.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Specimen">
                <xs:attribute  name="stage"     type="xs:string"    use="required"/>
                <xs:attribute  name="stageUnit" type="pc:StageUnit" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


</xs:schema>